body {
    background-color: beige;
    text-align: center;
}

p {
    font-size: 20px;
}

#firstMood, #secondMood, #thirdMood, #date {
    color:rgb(86, 86, 86);
    margin: .5%;
    width: 300px;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(88, 65, 36);
}

#date {
    height: 30px;
    width: 120px;
}

button {
    height: 30px;
    width: 70px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    border: solid black 2px;
    border-radius: 10px 10px 10px 10px;
}

#viewJournal {
    right: 100px;
    height: 30px;
    width: 200px;
}

#firstMoodLogged, #secondMoodLogged, #thirdMoodLogged, #dateLogged, #clear, #clearedEntries {
    color: red;
    font-size: 17px;
}

#goBack, #clear {
    width: 130px;
    border-radius: 10px 10px 10px 10px;
}

.firstMoodAtr, .secondMoodAtr, .thirdMoodAtr {
    margin: 1%;
    border: solid black 2px;
    border-radius: 10px 10px 10px 10px;
}

.dateAtr {
    margin-top: 6%;
    margin-bottom: 4%;
}

#dateBtn {
    margin: -14px;
}